asteroid==0.7.0
huggingface_hub==0.34.4
matplotlib==3.10.7
modelscope==1.29.2
numpy==2.3.4
onnx==1.19.1
onnxruntime_gpu==1.20.0
psutil==5.9.0
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyannote_audio==3.4.0
sherpa_onnx==1.11.1+cuda
sounddevice==0.5.2
soundfile==0.13.1
torch==2.5.0+cu121
torchaudio==2.5.0+cu121
tqdm==4.67.1
